<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148422060929-bjj1s78v2lvqe7io5libiuo70mam7c4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148422060929-bjj1s78v2lvqe7io5libiuo70mam7c4r</string>
	<key>API_KEY</key>
	<string>AIzaSyAXwe1yswrJzwSeBoCG6UECCgOH77SjYDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>148422060929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.focusTime</string>
	<key>PROJECT_ID</key>
	<string>focus-time-27c9f</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-time-27c9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148422060929:ios:5b73cb58fdfad7c3855680</string>
</dict>
</plist>